body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Inter", -apple-system, sytem-ui, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}