<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="" />
        <link rel="canonical" href="{{ client.domain }}{{ page.url }}" />

        <!--Social Media Display-->
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ client.domain }}{{ page.url }}" />
        <meta property="og:image" content="/assets/images/logo-small.png" />
        <meta
            property="og:image:secure_url"
            content="/assets/images/logo-small.png"
        />

        <!--Favicons-->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/assets/favicons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/favicons/favicon-32x32.png?v1"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/assets/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="/assets/favicons/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <link rel="preload" as="image" href="/assets/svgs/logo-white.svg" />

        <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
        {% if preloadImg != '' %}
            <link rel="preload" as="image" href="{{ preloadImg }}" />
        {% endif %}

        <!-- Sitewide Stylesheets and Scripts -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Article",
                {% if title %}"headline": "{{ title }}",{% endif %}
                {% if image %}
                    "image": ["{{ image }}"],
                {% endif %}
                {% if date %}"datePublished": "{{ date | postDate }}",{% endif %}
                {% if description %}"articleBody": "{{ description | safe }}",{% endif %}
                {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
                {% if tags %}"articleSection": "{{ tags }}"{% endif %}
            }
        </script>

        
        <link rel="stylesheet" href="/assets/css/posts.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

        <script type="module" src="/assets/js/swup.js"></script>

        <title>{{ title }}</title>
    </head>


    <body id="swup">
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main" tabindex="1" hidden>Click To Skip To Main Content</a>

        <a class="back-to-blog" href="/blog"> ← Back to blog.</a>

        <header>
            <h1>{{ title }}</h1>
            <time>{{ date | postDate }}</time>
        </header>

        <main id="main">
            {{ content | safe }}
        </main>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.body.addEventListener('click', function (event) {
                    let el = event.target;

                    // Climb up the DOM tree until we hit a spoiler or the root
                    while (el && el !== document.body) {
                        if (el.classList && el.classList.contains('spoiler')) {
                            el.classList.toggle('revealed');
                            break;
                        }
                        el = el.parentElement;
                    }
                });
            });
        </script>
    </body>
</html>
