:root {
  --bg: #121212;

  --post-hover: #dcf8ff; /* Light blue for post hover */

  /* stolen from ncase.me */
  --link: #ff4040;
  --link-hover: #ff8080;
  
  --font: "IBM Plex Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: white var(--bg);
}

::selection {
  color: black;
  background-color: #fff;
}

body {
  margin: 0 auto;
  max-width: 650px;
  line-height: 1.6;
  font-family: var(--font);
  font-size: 18px;
  color: white;
  background-color: var(--bg);
  padding: 0 10px;
}

header h1 {
  font-size: 60px;
  font-weight: normal;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

article.post {
  margin: 20px 0;
  padding: 0 50px;
  background-color: var(--button-surface);
}

h2.article-title {
  font-size: 30px;
  margin: 0;
}

a.post-link {
  color: inherit;
  text-decoration: none;
}

a.post-link:hover {
  color: var(--post-hover);
}

.blog-date {
  color: var(--mark);
  font-size: 0.8em;
}

.blog-desc {
  color: var(--mark);
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.blog-tags {
  color: var(--mark);
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

a.tag {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-style: italic;
}

a.tag:hover {
  color: var(--post-hover);
}

footer {
  margin-top: 20px;
  font-size: small;
}