article.post {
  margin: 20px 0;
  padding: 0 50px;
}

h2.article-title {
  font-size: 30px;
  margin: 0;
}

a.post-link {
  color: inherit;
  text-decoration: none;
}

a.post-link:hover {
  color: var(--post-hover);
}

.blog-date {
  color: var(--post-hover);
  font-size: 0.8em;
}

.blog-desc {
  color: var(--post-hover);
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.blog-tags {
  color: var(--post-hover);
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

a.tag {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-style: italic;
}

a.tag:hover {
  color: var(--post-hover);
}