html {
    scroll-behavior: smooth;
}

body {
    background: #121212;
    color: #ffffff;
    font-family: "Inter", -apple-system, sytem-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    padding: 0 2em;
}

#banner {
    width: 100%;
    height: 100vh;
    background-image: url(assets/images/idk.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    word-spacing: 20px;
}

.logo {
    width: 140px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#FA7161;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

#profile {
    display: flex;
    align-items: center;
    margin-top: 20%;
}
#name {
    order: 1;
}
#name p {
    margin-bottom: 0;
    font-size: 20px;
}
#name h1{
    font-size: 60px;
    margin-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
#portrait {
    order: 2;
}
#portrait img {
    clip-path: circle();
    float: right;
    margin-left: 125px;
    margin-top: 20px;
    /* siffrin size: 1370x1609 */
    width: 206px;
    height: 241px;
    border-radius: 100%; /* could also just set this to 50% to make everything rounder */
    overflow: hidden;
}
@media (max-width: 1200px) {
    #profile {
    display: flex;
    align-items: center;
    margin-top: 20%;
}
#name {
    order: 1;
}
#name p {
    margin-bottom: 0;
    font-size: 20px;
}
#name h1{
    font-size: 60px;
    margin-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
#portrait {
    order: 2;
}
#portrait img {
    clip-path: circle();
    float: right;
    margin-left: 125px;
    margin-top: 20px;
    /* siffrin size: 1370x1609 */
    width: 206px;
    height: 241px;
    border-radius: 100%; /* could also just set this to 50% to make everything rounder */
    overflow: hidden;
}
}


.footer {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: #9e9e9e;
    font-size: 10px;
}
.footer-left {
    position: absolute;
    left: 0px;
    margin-left: 5em;
}
.footer-right {
    position: absolute;
    margin-right: 5em;
    right: 0px;
}
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left, .footer-right {
        margin: 0;
        display: flex;
    }
    .footer-left {
        position: relative;
        padding: 0.5em;
    }
    .footer-right {
        position: relative;
        padding: 0.5em;
    }
}