---
layout: base.njk
title: the Blog
permalink: /blog/index.html
---

<ul class="post-list">
  {%- for post in collections.posts %}
  <li class="post-list-item">
    <a href="{{ post.url }}">
      <h3 class="post-list-title">{{ post.data.title }}</h3>
      <time class="post-list-date">{{ post.date | readableDate }}</time>
      {% if post.data.description %}
      <p class="post-list-desc">{{ post.data.description }}</p>
      {% endif %}
    </a>
  </li>
  {%- endfor %}
</ul>
