:root {
    --bg: #121212;

    /* stolen from palmes.dev */
    --mark: #a5f3fc;

    /* stolen from ncase.me */
    --link: #ff4040;
    --link-hover: #ff8080;
    --nav-underline: #FA7161;
    --button-surface: #231d1a;
    --button-shadow: #3f4650;
    --h-font: "Inter", -apple-system, sytem-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
    width: 100%;
    margin: 0;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: white;
    background-color: var(--bg);
    padding: 0 10px;
}

h1 {
    font: var(--h-font);
    font-size: 45px;
}
